
.order-table input::-webkit-outer-spin-button,
.order-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.order-table input[type=number] {
  -moz-appearance: textfield;
  padding-right: 0;
}

.order-table th {
  @apply text-start font-normal text-sm
}

.order-table th:not(:first-child) {
  @apply pl-4
}
.order-table td:not(:first-child) {
  @apply pl-4 py-2
}

.order-table thead th:first-child {
  @apply w-[35%]
}

.order-table thead th:nth-child(2) {
  @apply w-[13%]
}

.order-table thead th:nth-child(3) {
  @apply w-[25%]
}

.order-table thead th:nth-child(4) {
  @apply w-[15%]
}
